# ---- BACKEND ----
fastapi
uvicorn[standard]
pydantic
sqlalchemy
pyodbc
python-dotenv
pyjwt
black
flake8
pytest
websockets
confluent-kafka
authlib
itsdangerous
python-multipart
redis
cryptography


# ---- FRONTEND / SHARED ----
httpx
requests
pydantic[email]

